#mobile-navigator-container {
  display: none;
}

#mobileheader {
  padding: 10px 100px 8px 100px;
  border-radius: 5px;
  transition: ease all 0.4s;
  background-color: rgba(255, 255, 255, 0.423);
  .mobileHeaderIcon {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

#mobileheader:hover {
  background-color: white;
}

#mobileheader:active {
  transform: scale(95%);
}

.page {
  transition: ease all 0.3s;
  color: rgba(255, 255, 255, 0.281);
  text-decoration: none;
  font-size: 15px;
}

#mobile-navigator-container {
  width: 100%;
  padding: 5px;
  #mobile-navigator {
    padding: 15px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.4);
    .nav-link {
      width: 100%;
      padding: 10px;
      font-family: var(--mainFont);
      font-weight: 500;
      background-color: transparent;
      border: 1px solid;
      border-radius: 10px;
      transition: ease all 0.2s;
      margin-bottom: 20px;
    }
    .nav-link:hover {
      transform: scale(95%);
      background-color: white;
    }
    .nav-link:focus,
    .nav-link:active {
      transform: scale(90%);
    }
    .nav-link-premium {
      width: 100%;
      padding: 10px;
      font-family: var(--mainFont);
      font-weight: 500;
      background: hsla(40, 62%, 59%, 1);
      background: linear-gradient(
        45deg,
        hsla(40, 62%, 59%, 1) 0%,
        hsla(48, 100%, 48%, 1) 100%
      );

      background: -moz-linear-gradient(
        45deg,
        hsla(40, 62%, 59%, 1) 0%,
        hsla(48, 100%, 48%, 1) 100%
      );

      background: -webkit-linear-gradient(
        45deg,
        hsla(40, 62%, 59%, 1) 0%,
        hsla(48, 100%, 48%, 1) 100%
      );
      box-shadow: 0px 0px 20px #e5b827;
      border: 1px solid #ffe89c;
      border: 1px solid;
      border-radius: 10px;
      transition: ease all 0.2s;
      margin-bottom: 20px;
    }
    .nav-link-premium:hover {
      transform: scale(95%);
    }
    .nav-link-premium:focus,
    .nav-link-premium:active {
      transform: scale(90%);
    }
  }
}
